body{
    background-color: lightcyan;
    font-family: 'Lucida Sans';
}

h1{
    color: darkslateblue;
    text-align: center;
    font-size: 60px;
    font-weight: 300px;
}

#random-start{
    text-align: center;
}